
.top-head{
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid darkgray;
}
.container{
    width: 1170px;
    margin: auto;
    float: none;
}
.gmail-sdt{
    width: 300px;
}
.acc-giohang{

    text-align: right;
    float: right;
}
.top-2-head{
    margin-bottom:20px ;
}
.acc-giohang{
    text-align: right;
}
.top-2-head input{
    height: 40px;
    width: 200px;
}
.top-2-head button{
    height: 40px;
}
.lg_sr{
    height: 50px;
}

#run{
    /*position: fixed;*/
    width: 100%;
    z-index: 50;
}
#run nav{
    text-align: center;
    height: 80px;
    line-height: 80px;

}
.sub-menu{
    list-style-type: none;
    display: inline-table;
    color: black;
    padding-right: 60px;
}
.ssmenu {
    position: relative;

}
.sub-menu a{
    color: black;
    text-decoration: none;
}
.menu-an{
    display: none;
    width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    background-color: white;
    line-height: 40px;
}
.menu-an li{
    list-style-type: none;
}
.sub-menu:hover .menu-an{
    display: block;
    transition: tra 1.2s;
    z-index: 30;
;
}
.menu-an img{
    width: 100%;
}
.menu-an b{
    color:#ff5050;
}
.khung-chu{
    width: 70%;
    height: 50px;
    background-color: #ff5050;
    margin: auto;
    float: none;
    margin-top: 70px;
}
.khung-chu1{
    padding-top: 10px;
    margin-left: 30px;
}
.khung-menu{
    width: 70%;
    height: auto;
    margin: auto;
    float: none;
}
.borderr{
    border-bottom: 2px solid darkgray;
    width: 45%;
    float: left;
}
.input-chu2{margin-top: 20px}
.khung-input{width: 45%}
.dangnhap-1{
    float: left;
    height: 35px;
    margin-top: 20px;
    width: 140px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.dangnhap-1:hover {background-color: #ff5050;
    color: white}

.dangnhap-1:active {
    background-color: #ff5050;
    transform: translateY(4px);
}
.input-chu3{
    float: right;
    margin-top: -40px;
    margin-right: 145px;
}
.borderr1{
    border-bottom: 2px solid darkgray;
    width: 45%;
    float: right;
}
.input-chu4{
    float: right;
    margin-top: -30px;
    margin-right: 310px;
}
.khung-input1{
    float: right;
    width: 45%;
}
.input-chu5{
    float: right;
    margin-right: 275px;
    margin-top: -55px;
}
.khung-input2{
    float: right;
    width: 45%;
    margin-top: -26px;
}
.input-chu6{
    float: right;
    margin-right: 205px;
    margin-top: 20px;
}
.khung-input3{
    float: right;
    width: 45%;
}
.borderr2{
    border-bottom: 1px solid black;
    width: 88%;
    margin: auto;
    float: none;
    margin-top: 140px;
}
