.top-head{
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid darkgray;
}
.gmail-sdt{
    width: 300px;
}
.acc-giohang{

    text-align: right;
    float: right;
}
.top-2-head{
    margin-bottom:20px ;
}
.acc-giohang{
    text-align: right;
}
.top-2-head input{
    height: 40px;
    width: 200px;
}
.top-2-head button{
    height: 40px;
}
.lg_sr{
    height: 50px;
}

#run{
    /*position: fixed;*/
    width: 100%;
    z-index: 50;
}
#run nav{
    text-align: center;
    background-color: #ff5050;
    height: 80px;
    line-height: 80px;

}
.sub-menu{
    list-style-type: none;
    display: inline-table;
    color: black;
    padding-right: 30px;
}
.ssmenu {
    position: relative;

}
.sub-menu a{
    color: white;
    text-decoration: none;
}
.menu-an{
    display: none;
    width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    background-color: white;
    line-height: 40px;
}
.menu-an li{
    list-style-type: none;
}
.sub-menu:hover .menu-an{
    display: block;
    transition: tra 1.2s;
    z-index: 30;
;
}
.menu-an img{
    width: 100%;
}
.menu-an b{
    color:#ff5050;
}
.banner {
    height: 430px;
    text-align: center;
    position: relative;
    top: 80px;
}
.banner img{
    width: 100%;
}
.slide-left-banner {
    font-size: 40px;
    color: darkgray;
    position: absolute;
    z-index: 20;
    top: 45%;
    left: 25px;
    cursor: pointer;
}
.slide-right-banner{
    font-size: 40px;
    color: darkgray;
    position: absolute;
    z-index: 20;
    top: 45%;
    right: 25px;
    cursor: pointer;
}
.review{
    margin-top: 130px;
}
.review_left{
    padding-left: 0;
}
.review_right{
    padding-right: 0;
}
.review img{
    width: 100%;
}
.titleProduct h1{
    margin-bottom: 40px;
}
.luachon{
    padding-right: 45px;
    margin-bottom: 30px;
}
.luachon div{
    height: 30px;
    line-height: 30px;
    float: right;
}
.titleProduct {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
.slide-left-luachon{
    font-size: 20px;
    cursor: pointer;
    color: darkgray;
}
.slide-right-luachon{
    font-size: 20px;
    cursor: pointer;
    color: darkgray;
}
.control_luachon{
    text-align: right;
    margin-bottom: 30px;
}
.list_luachon{
    transition: 0.5s;
}
.list_luachon:hover{
    background-color: #ff5050;
    transition: 1s;
}
.control_luachon i{
    padding-right: 20px;
}
.image_luachon img{
    width: 100%;
    border: 4px solid lightgray;
    height: 423.86px;
}
.luachon_left{
    padding-left: 0;
}
.luachon_right{
    padding-right: 0;
}
.thaydoimau{
    background-color: #ff5050;
}
.thongtin_luchon{
    position: absolute;
    top: 320px;
    left: 12%;

}
.ten_image_left{
    background-color: yellow;
    height: 30px;
}
.review_sale{
    margin-top: 50px;
}
.review_sale img{
    width: 100%;
    position: relative;
}
.text_sale{
    position: absolute;
    top: 50px;
    left: 60px;
    width: 70%;
    font-size: 22px;
    color: dimgrey;
}
.text_sale button{
    margin-top: 10px;
    border: 3px double dimgray;
    transition: 1s;
}
.text_sale button:hover{
    transition: 1s;
    background-color: dimgray;
    color: white;
}
#text_sale_2 h1{
    color: saddlebrown;
}
#text_sale_2 button{
    border: 3px double saddlebrown;
}
#text_sale_2 button:hover{
    background-color: saddlebrown;
    color: white;
}
.ContentBlog img{
    width: 100%;
}
.TextContent{
    text-align: left;
}
.ReadMore button{
    height: 40px;
    width: 120px;
    border: 3px double #ff5050;
    background-color: white;
    transition: 1s;
}
.ReadMore button:hover{
    color: white;
    background-color: #ff5050;
    transition: 1s;
}
.TextContent h3{
    height: 52px;
}
.lists ul{
    padding-left: 0;
}
.lists span{
    font-size: 20px;
    font-weight: lighter;
    color: #ff5050;
}

.lists ul li{
    list-style-type: none;
    margin-top: 20px;
}
.lists input{
    height: 40px;
    margin-top: 40px;
}
.googlemap{
    margin-top: 25px;
    margin-bottom: 25px;
}
.soluong_giohang{
    height: 30px;
    width: 80px;
    text-align: center;
}
.sanphamI{
    height: 70px;
    line-height: 70px;
}
.sanphamI button{
    height: 30px;
    line-height: 3px;

}
.Quantity button{
    width: 30px;
    height: 30px;

}
.button_backgroundcolor{
    background-color: white;
}
.Buy_it{
    height: 40px;
    width: 160px;
    border: 3px double #ff5050;
    background-color: white;
    transition: 0.5s;

}
.Buy_it:hover {
    background-color: #ff5050;
    color: white;
    transition: 0.5s;
}
.write:hover{
    cursor: pointer;
    color: #ff5050;
}
.star-box {
    float: left;
    width: 50px;
    height: 30px;
    background-image: url("../img/star-off.png");
    background-repeat: no-repeat;
    transition: 0.5s;
    cursor: pointer;

}
.star-rate{
    float: left;
    width: 50px;
    height: 30px;
    background-image: url("../img/star-on.png");
    background-repeat: no-repeat;
    transition: 0.5s;
    cursor: pointer;
}
#button_rv{
    height: 50px;
    width: 130px;
    float: right;
    transition: 1s;
    border: 3px double #f50505;
    background-color: white;
}
#button_rv:hover{
    background-color: #ff5050;
    color: white;
    transition: 1s;
}
.andi_rv{
    display: none;
}
.hienra_rv{
    display: block;
}
