
.top-head{
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid darkgray;
}
.container{
    width: 1170px;
    margin: auto;
    float: none;
}
.gmail-sdt{
    width: 300px;
}
.acc-giohang{

    text-align: right;
    float: right;
}
.top-2-head{
    margin-bottom:20px ;
}
.acc-giohang{
    text-align: right;
}
.top-2-head input{
    height: 40px;
    width: 200px;
}
.top-2-head button{
    height: 40px;
}
.lg_sr{
    height: 50px;
}

#run{
    /*position: fixed;*/
    width: 100%;
    z-index: 50;
}
#run nav{
    text-align: center;
    background-color: #ff5050;
    height: 80px;
    line-height: 80px;

}
.sub-menu{
    list-style-type: none;
    display: inline-table;
    color: black;
    padding-right: 30px;
}
.ssmenu {
    position: relative;

}
.sub-menu a{
    color: white;
    text-decoration: none;
}
.menu-an{
    display: none;
    width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    background-color: white;
    line-height: 40px;
}
.menu-an li{
    list-style-type: none;
}
.sub-menu:hover .menu-an{
    display: block;
    transition: tra 1.2s;
    z-index: 30;
;
}
.menu-an img{
    width: 100%;
}
.menu-an b{
    color:#ff5050;
}
.khung-chu{
    width: 70%;
    height: 50px;
    background-color: #ff5050;
    margin: auto;
    float: none;
    margin-top: 70px;
}
.khung-chu1{
    padding-top: 10px;
    margin-left: 30px;
}
.khung-menu{
    width: 70%;
    height: 50px;
    margin: auto;
    float: none;
}
.khung-menu1{
    width: 45%;
    height: auto;
    float: left;
}
.boder1{
    border-bottom: 2px solid grey;
}
.menu-chu{
    margin-top: 30px;
}
.font-menu{
    color: darkgray;
    margin-top: 10px;
}
.input-khung{
    width: 100%;
}
.dangnhap{
    height: 30px;
    width: 80px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.dangnhap:hover {background-color: #007ba4}

.dangnhap:active {
    background-color: #007ba4;
    transform: translateY(4px);
}
.link-dangnhap{
    margin-left: 10px;
    color: darkgray;
}
.khung-menu2{
    width: 45%;
    height: auto;
    float: right;
}
.menu-chu2{
    margin-top: 30px;
}
.font-menu{
    font-size: 12px;
}
.dangnhap1{
    height: 30px;
    width: 140px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.dangnhap1:hover {background-color: #007ba4}

.dangnhap1:active {
    background-color: #007ba4;
    transform: translateY(4px);
}
.section{
    width: 100%;
    height: 500px;
}
.border-1{
    border-bottom: 1px solid black ;
    width: 80%;
    margin: auto;
    float: none;
    margin-top: 280px;
}

