
body{
    font-family: Roboto, sans-serif;
}
.top-head{
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid darkgray;
}

.top-2-head{
    margin-bottom:20px ;
}
.top-2-head input{
    height: 40px;
    width: 200px;
}
.gmail-sdt li{
    display: inline-table;
    list-style: none;
    margin-left: 20px;
}
.gmail-sdt ul{
    width: 500px;
    margin-top: 0px;
}
.acc-giohang ul li{
    float: left;
    list-style: none;
}
.gio2{
    margin-left: 10px;
    background-color: #ff5050;
    height: 20px;
    width: 80px;
    text-align: center;
    color: white;
}
.gio2 a{
    text-decoration: none;
    color: white;
}
.acc{
    margin-left: 8px;
}
.money{
    margin-left: 8px;
    border: none;
}
.acc-giohang{
    float: right;
}
.gmail-sdt a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.gmail-sdt a:hover{
    color: #ff5050;
}
.top-2-head button{
    height: 40px;
}
.lg_sr input{
    height: 50px;
    width: 300px;
    background-color: #f0f0f0;
    border: none;
}
.lg_sr button{
    color: white;
    background-color: #ff5050;
    border: none;
    margin-left: -40px;
    height: 30px;
    width: 30px;
}
#run{
    /*position: fixed;*/
    width: 100%;
    z-index: 50;
}
#run nav{
    text-align: center;
    background-color: #ff5050;
    height: 80px;
    line-height: 80px;

}
.sub-menu{
    list-style-type: none;
    display: inline-table;
    color: black;
    padding-right: 30px;
}
.ssmenu {
    position: relative;

}
.sub-menu a{
    color: white;
    text-decoration: none;
}
.menu-an{
    display: none;
    width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    background-color: white;
    line-height: 40px;
}
.menu-an li{
    list-style-type: none;
}
.sub-menu:hover .menu-an{
    display: block;
    transition: tra 1.2s;
    z-index: 30;
;
}
.menu-an img{
    width: 100%;
}
.menu-an b{
    color:#ff5050;
}
.banner {
    height: 430px;
    text-align: center;
    position: relative;
    top: 80px;
}
.banner img{
    width: 100%;
}
.slide-left-banner {
    font-size: 40px;
    color: darkgray;
    position: absolute;
    z-index: 20;
    top: 45%;
    left: 25px;
    cursor: pointer;
}
.slide-right-banner{
    font-size: 40px;
    color: darkgray;
    position: absolute;
    z-index: 20;
    top: 45%;
    right: 25px;
    cursor: pointer;
}
.review{
    margin-top: 130px;
}
.review_left{
    padding-left: 0;
}
.review_right{
    padding-right: 0;
}
.review img{
    width: 100%;
}
.latestCollection h1{
    margin-bottom: 40px;
}
.luachon{
    padding-right: 45px;
    margin-bottom: 30px;
}
.luachon div{
    height: 30px;
    line-height: 30px;
    float: right;
}
.latestCollection {
    text-align: center;
}
.slide-left-luachon{
    font-size: 20px;
    color: darkgray;
}
.slide-right-luachon{
    font-size: 20px;
    color: darkgray;
}
.control_luachon{
    text-align: right;
    margin-bottom: 30px;
}
.list_luachon{
    transition: 0.5s;
}
.list_luachon:hover{
    background-color: #ff5050;
    transition: 1s;
}
.control_luachon i{
    padding-right: 20px;
}
.image_luachon img{
    width: 100%;
    border: 4px solid lightgray;
    height: 423.86px;
}
.luachon_left{
    padding-left: 0;
}
.luachon_right{
    padding-right: 0;
}
.thinhpro{
    background-color:#f4f4f4;
}
.thinhpro a{
    color: #0f0f0f;
    text-decoration: none;
    transition: 0.5s;
}
.thinhpro a:hover{
    color: #ff253a;
}
.thinh1{
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    font-weight: bold;
}
.thinh2{
    padding: 0;
}
.thinh2_2_1{
    background-color: #ff5050;
    text-align: center;
    height: 40px;
}
.thinh2_2_1 h4{
    line-height: 40px;
    color: white;
}
.thinh2_2 ul li{
    color: #ff253a;
    font-size: 20px;
    line-height: 50px;
    margin-top: 20px;
    border-bottom: 1px solid #ff5050;
    padding: 0;
}
.thinh2_2 ul li {
    color: black;
    padding: 0;
}
.thinh2_3_1{
    background-color: #ff5050;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.thinh2_3 ul li{
    list-style: none;
    font-size: 20px;
    line-height: 50px;
    margin-top: 20px;
    border-bottom: 1px solid #ff5050;
    padding: 0;
}
.thinh2_3 h4{
    line-height: 40px;
    color: white;
}
.thinh2_3 a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.thinh2_3 a:hover{
    color: red;
}
.thinh2_2 a{
    text-decoration: none;
    transition: 0.5s;
    color: black;
}
.thinh2_2 ul li {
    color: black;
    list-style-type: none;
}

.thinh2_2 ul li:before {
    color: red;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
.thinh2_2 a:hover{
    color: red;
}
.thinh2_3 img{
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
.thinh2_4_1{
    background-color: #ff5050;
    height: 40px;
}
.thinh2_4 h4{
    line-height: 40px;
    color: white;
    text-align: center;
}
.thinh2_4 ul li{
    font-size: 20px;
    margin-top: 20px;
    color: #ff253a;
    border-bottom: 1px solid #ff253a;
}
.thinh2_4 a{
    color: black;
    transition: 0.5s;
    text-decoration: none;
}
.thinh2_4 a:hover{
    color: #ff253a;
}
.thinh2_4 ul li {
    color: black;
    list-style-type: none;
}
.thinh2_4{
    line-height: 40px;
}
.thinh2_4 ul li:before {
    color: red;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
.thinh2_5{
    line-height: 40px;
}
.thinh2_5 a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
 .ins{
    transform: translateY(-200px) translateX(1px);
    opacity: 0;
     max-width: 100%;
}
.ins:hover{
    background:url("../img/blog3.webp");
    transition: 1.2s;
    opacity: 1;
}
.thinh2_5 a:hover{
    color: #ff253a;
}
.thinh2_6{
    line-height: 40px;
}
.thinh2_6_1{
    background-color: #ff5050;
    height: 40px;
}
.thinh2_6 h4{
    line-height: 40px;
    color: white;
    text-align: center;
}
.thinh2_6 ul li{
    font-size: 20px;
    margin-top: 20px;
    color: #ff253a;
    border-bottom: 1px solid #ff253a;
}
.thinh2_6 a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.thinh2_6 a:hover{
    color: #ff253a;
}
.thinh2_6 ul li {
    color: black;
    list-style-type: none;
}

.thinh2_6 ul li:before {
    color: red;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
.thinh2_7 h4{
    line-height: 40px;
    color: white;
    text-align: center;
}
.thinh2_7_1{
    background-color: #ff5050;
    height: 40px;
}
.thinh3_1 i{
    display: inline-block;
    padding: 0;
    width: 43px;
    height: 43px;
    line-height: 43px;
    padding: 0;
    float: left;
    border-radius: 0px;
    text-align: center;
    color: black;
    border: 1px solid #ff253a;
    margin-left: 10px;
    transition: 0.5s;
}
.items a{
    transition: 0.5s;
}
.items{
    text-align: center;
}
.thinh3 i:hover{
    color: #ff253a;
}
.thinh3_3 select{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    padding-left: 0;
}

.thinh3_4 select{
    padding-left: 0;
    width: 70px;
    height: 40px;
    margin-left: 20px;
}
.thinh3{
    font-size: 15px;
    font-family: Roboto;
    padding-top: 10px;
}
.new input{
 width: 110px;
}
ul{
    padding: 0;
}

.thinh2_5_1 h4{
    background-color: #ff5050;
    line-height: 40px;
    text-align: center;
    color: white;
}
.thinh2_5_2 ul li{
    color: #ff5050;
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ff5050;
}
.thinh2_5 ul li {
    color: black;
    list-style-type: none;
}

.thinh2_5 ul li:before {
    color: red;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
div.item:hover{
    transform: scale(1.1);
}
div.item{
    padding: 0px;
    width: 30%;
    margin-left: 25px;
    padding-left: 0;
    text-align: center;
    border: 4px solid #f8f8f8;
    margin-top: 20px;
    padding-bottom: 10px;
    transition: 0.5s;
    overflow:hidden;
}
div.item img{
    max-width: 100%;
    height: 272.97px;
}
div.color img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
div.price{
    text-align: center;
}
div.color{
    text-align: center;
}
div.detail a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
div.detail a:hover{
    color: #ff253a;
}
.fot a{
    text-decoration: none;
    color: black;
}
.fot ul li{
    list-style: none;
}
.lists ul{
    padding-left: 0;
}
.lists span{
    font-size: 20px;
    font-weight: lighter;
    color: #ff5050;
}

.lists ul li{
    list-style-type: none;
    margin-top: 20px;
    font-size: 15px;
}
.lists input{
    height: 40px;
    width: 100%;
}
.googlemap{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}
.lists a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
    overflow: hidden;

}
.lists i{
    margin: auto;
    color: black;
}
.contact{
    padding-left: 100px;
}
.lists col-md-3{
    padding: 0;
}
.lists a:hover{
    color: #ff5050;
}
.border{
    float: none;
    margin: auto;
    width: 78%;
    border-bottom: 1px solid black;
}
.last{
    padding-left: 150px;
    font-size: 15px;
}
.last ul li{
    list-style: none;
    float: left;
}
.copy{
    float: left;
    padding-left: 20px;
    font-size: 18px;
}
.icon{
    margin-left: 10px;
}
.card{
    float: right;
}
.last a{
    color: black;
    transition: 0.5s;
    text-decoration: none;
}
.last a:hover{
    color: #ff253a;
}
.icon ul li{
    margin-left: 20px;
    padding: 0;
}
.input button{
    top: 10px;
    right: 10px;
    position: absolute;
    border: none;
    background-color: white;
}
.card ul li{
    margin-left: 5px;
}
.thongtin3{
    width: 100px;
    height: 30px;
    border: 1px solid #ff253a;
    line-height: 30px;
    text-align: center;
    transition: 0.5s;
}
.thongtin3:hover{
    background-color: #ff253a;
}
.thongtin3 p{
    color: black;
    transition: 0.5s;
}
.thongtin3 p:hover{
    color: white;
}
.thongtin_1 a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.thongtin_1 a:hover{
    color: #ff253a;
}
.thongtin_1 {
    border: 1px solid #e4e4e4;
    padding: 30px;
}
.read a{
    border: 1px solid #ff253a;
}

.menu-an_page ul li{
    list-style-type: none;
}
.menu-an_page{
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    text-align: left;
    padding-left: 20px;
    right: 200px;
}
.sub-menu:hover .menu-an_page{

    display: block;
    z-index: 30;
}
.anh{
    position: relative;
}
.anhan_anh{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
}
.item:hover .anhan_anh{
    transform: translateX(0%);
    opacity: 1;
    transition: 1s;
}
.sualoi_conchuot{
    position: relative;
    width: 182.4px;
    height: 40px;
}
